@import 'variables'; 


/* Global */
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: $background-dark-grey;
    padding: 3.75rem 0;
    margin-top: auto
}
.cursor-pointer {
    cursor: pointer;
}

/* Navbar */
.navbar-nav .nav-link {
    border-radius: $border-radius-md;
}
.navbar-nav .nav-link.active {
    color: $primary; 
    font-weight: 500;
    transition: background-color 0.3s ease; 
}
.navbar-nav .nav-link:hover {
    background-color: #e7efee;
}



/* Homepage */
.header-home {
    background-color: $background-green;
    height: 100%;
    overflow-x: hidden;
}
.header-banner {
    background-color: $primary;
    color: white;
}
.header-image-container {
    height: 100%;
}
.header-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.promotional-banner {
    background-color: $background-orange;
    font-size: 2rem;
}
.promotional-image-container {
    max-width: 9%;
}
/* md - tablette */
@media screen and (max-width: 768px){
    .header-home {
        height: 100%;
    }
    .header-image-container {
        height: 300px;
    }
    .header-image-container img {
        width: 100%;
    }
}

/* Products page */
.header-products {
    background-image: url('../assets/images/header-products.png');
    background-size: cover;
    background-position: center right;
    color: white;
    min-height: 64vh;
    display: flex;
    align-items: center;
}
.category-badge {
    cursor: pointer;
}
.selected-badge {
    border: 3px solid $primary;
}

/* Product card */
/* Product card */
.product-card {
    overflow: hidden;
    position: relative;
    .card-title {
        font-family: $font-family-sans-serif;
        color: $primary;
        font-size: 18px;
    }
    .img-container {
        overflow: hidden; 
        position: relative;
        .card-img-top {
            width: 100%;
            height: auto;
            transition: transform 1s ease;
            &:hover {
                transform: scale(1.05); 
            }
        }
    }
    

}


/* Products details page */
.product-details-image-container {
    max-width: 100%;
}
.product-details-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* User account */
.body-account-page {
    background-color: $background-grey;
}

/* 404 */
.error-page-container {
    background-color: $background-orange;
}
.error-image-container {
    background-image: url(../assets/images/error-page.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
/* xs - phone */
@media screen and (min-width: 576px){
    .error-page-container {
        height: 90vh;
    }
}

/* Login and signup */
@keyframes zoom {
    0% { background-size: 100%; }
    100% { background-size: 110%; }
}
.login-image-container {
    background-image: url(../assets/images/login-background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-color: $background-dark-grey;
    animation: zoom 10s infinite alternate;
}
.signup-form-title {
    font-weight: 600;
    font-size: 1.3rem;
}
/* md - tablette */
@media screen and (max-width: 768px){
    .login-image-container {
        background-image: url(../assets/images/login-background-mobile.png);
        background-position: top;
        background-size: contain;
    }
}

/* Cart */
.cart-image-container {
    max-width: 110px;
}
.cart-image-container img {
    width: 100%;
}

/* Order confirmation page */
.order-summary-container {
    background-color: $background-orange;
    border-radius: $border-radius-md;
    background-image: url(../assets/images/order-confirmation-background.png);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}