
/*  Variables */
:root {
    --primary-color : #0F8277;
    --background-green : #E9FAE8;
    --background-orange : #FAF4E8;
    --background-grey : #F8F8F8;
    --background-dark-grey : #F3F3F3;
}

/* Global */
footer {
    background-color: var(--background-dark-grey);
    padding: 3.75rem 0;
}

/* Homepage */
.header-home {
    background-color: var(--background-green);
    height: 100%;
    overflow-x: hidden;
}
.header-banner {
    background-color: var(--primary-color);
    color: white;
}
.header-image-container {
    height: 100%;
}
.header-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.promotional-banner {
    background-color: var(--background-orange);
    font-size: 2rem;
}
.promotional-image-container {
    max-width: 9%;
}
/* md - tablette */
@media screen and (max-width: 768px){
    .header-home {
        height: 100%;
    }
    .header-image-container {
        height: 300px;
    }
    .header-image-container img {
        width: 100%;
    }
}

/* Products page */
.header-products {
    background-image: url('./assets/images/header-products.png');
    background-size: cover;
    background-position: center right;
    color: white;
    min-height: 64vh;
    display: flex;
    align-items: center;
}
.category-badge {
    cursor: pointer;
}
.selected-badge {
    border: 3px solid var(--primary-color);
}

/* Products details page */
.product-details-image-container {
    max-width: 100%;
}
.product-details-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* User account */
.body-account-page {
    background-color: var(--background-grey);
}

/* 404 */
.error-page-container {
    background-color: var(--background-orange);
}
.error-image-container {
    background-image: url(./assets/images/error-page.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
/* md - tablette */
@media screen and (min-width: 576px){
    .error-page-container {
        height: 90vh;
    }
}