
/*  Variables */
:root {
    --background-green : #E9FAE8;
}

/* Homepage */
header {
    background-color: var(--background-green);
}
.header-image-container {
    max-height: 100vh;
    width: 100%;
}
.header-image-container img {
    width: 100%;
    height: 100%;
}